<%# <%= link_to 'Home', root_path %> 
<%# <%= link_to 'All Shortened Links', links_path %> 
<%# <%= link_to 'Shorten a New Link', new_link_path %>
<a href="/" class="<%= 'active' if current_page?(root_path) %>">Home</a>
<a href="/links" class="<%= 'active' if current_page?(links_path) %>">Show Alll</a>
<a href="/links/new" class="<%= 'active' if current_page?(new_link_path) %>">New Link</a>